# Bibliotecas principales de FastAPI
fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose
jwt
python-dotenv
passlib[bcrypt]
email-validator

# 🆕 Bibliotecas para generar PDFs (ReportLab)
reportlab